[FORMAT]
max-line-length=120
const-rgx=.*

[MESSAGES CONTROL]
disable=
    missing-docstring,
    import-error,
    no-member,
    too-few-public-methods,
    line-too-long,
    unused-argument,
    unused-import,
    duplicate-code,
    fixme,
    trailing-whitespace,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-statements,
    too-many-instance-attributes,
    too-many-branches,